.try{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 97%;

    
    
}
.try2{
  background-color: #f1f1f1;
  width: 300px;
  height: auto;
  margin: 2vh;
  text-align: center;
  color: #111;
  font-size: 15px;
  
 
  margin-top: 4%;
  }
.card{
  width: 100%;
  
  
}
.body{
  font-family: 'Montserrat', sans-serif;
}