.body{
    background-color: #111;
    color: wheat;
    position: relative;
    top: -8vh;
    width: 100%;
    z-index: -1;
    height: 35vh;
}
.header{
    position: absolute;
    top: 20vh;
    width: 100%;
}
.pres{
    position: absolute;
    top: 30vh;
    width: 100%;
}
.try{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: 35vh;
   
    width: 97%;

    
}

.try2{
    background-color: #f1f1f1;
  width: 270px;
  height: auto;
  margin: 2vh;
  text-align: center;
  color: #111;
  font-size: 15px;
  box-shadow: 7px 7px 8px 0px rgb(158, 156, 156);
  
  padding: 1%;
  margin-top: 4%;
}
